<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="llmagents-learning.org">
    <meta property="twitter:url" content="https://llmagents-learning.org">
    <meta name="twitter:title" content="Large Language Model Agents MOOC">
    <meta name="twitter:description" content="MOOC, Fall 2024">
    <meta name="twitter:image" content="https://rdi.berkeley.edu/llm-agents-mooc/assets/llmagents-twittercard.png">

    <!-- Add any additional metadata here -->
    <meta property="og:title" content="Large Language Model Agents MOOC">
    <meta property="og:description" content="MOOC, Fall 2024">
    <meta property="og:image" content="https://rdi.berkeley.edu/llm-agents-mooc/assets/llmagents-twittercard.png">

    <!-- CSS and JS files, if any -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
  
    {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
